@font-face {
  font-family: 'GENTO DREAM Regular';
  font-style: normal;
  font-weight: normal;
  src: local('GENTO DREAM Regular'), url('GentoDream-8MqpZ.woff') format('woff');
}

@import url('https://fonts.cdnfonts.com/css/afikathuan');

body {
  text-align: center;
  background-color: #f0eedb;
}

.container1 {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(50) forwards;
  text-align: center;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.word1,
.word2 {
  display: inline-block;
  margin: 0 auto;
}

.word1 {
  color: #c42d2d;
}

.word2 {
  color: #452b28;
}

.word3 {
  text-align: center;
  font-family: 'AfikaThuan';
  font-size: 100px;
  color: #8e1818;
  opacity: 0;
  transform: translateY(-50px);
  animation: slide-in 5s forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.word4 {
  display: inline-block;
  transform: rotate(-10deg);
  margin-left: -60px;
  color: #b1525e;
}

.container3 {
  position: relative;
}

.img2 {
  text-align: center;
  animation: rotate2 3s linear forwards;
  transform: rotate(-5deg);
}

.img3 {
  position: absolute;
  top: 480px;
  left: 500px;
  width: 70px;
  height: 140px;
  animation: rotate3 3s linear forwards;
  transform: rotate(5deg);
}

.img4 {
  position: absolute;
  width: 340px;
  height: 150px;
  left: 580px;
  top: 150px;
  animation: rotate4 3s linear forwards;
}

@keyframes rotate2 {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(355deg);
  }
}

@keyframes rotate3 {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(365deg);
  }
}

@keyframes rotate4 {
  0% {
    transform: none;
  }
  100% {
    transform: rotate(360deg);
  }
}

.container4 {
  margin-top: 300px;
  position: relative;
}

.img5 {
  width: 500px;
  height: 600px;
  margin-left: 360px;
}

.word5 {
  position: absolute;
  display: block;
  font-family: 'GENTO DREAM Regular', sans-serif;
  font-size: 60px;
  color: #b51c1c;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.word5-1 {
  top: 10px;
}
.word5-2 {
  top: 80px;
}
.word5-3 {
  top: 150px;
}
.word5-4 {
  top: 220px;
}
.word5-5 {
  top: 290px;
}
.word5-6 {
  top: 360px;
}
.word5-7 {
  top: 430px;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.word6,
.word7 {
  display: block;
  line-height: 1.5;
  color: #080808;
}

.container5 {
  margin-top: 30px;
}

.container6 {
  position: relative;
}

.img6 {
  text-align: center;
  transform: rotate(-5deg);
  margin-top: 100px;
}

.img7 {
  position: absolute;
  top: 400px;
  left: 850px;
  width: 200px;
  height: 280px;
  transform: rotate(30deg);
}

.container7 {
  margin-top: 150px;
}

.word8 {
  display: block;
  line-height: 1.5;
  color: #080808;
}

.container8 {
  position: relative;
}

.img8 {
  text-align: center;
  margin-top: 100px;
}

.img9 {
  position: absolute;
  top: 150px;
  left: 1100px;
  width: 250px;
  height: 380px;
  transform: rotate(-10deg);
}
